.container {
    width: 50%;
    
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(290px, 3fr)); 
    grid-gap: 45px; 
    width: 80%; 
    max-width: 1400px; 
    margin: 30px auto; 
    
    
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin: 20px; */
}

.inp {
    justify-content: center;
}

.con {
    
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(43, 43, 43);
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.div{
    padding: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px #666;
    
}


.desc {
    text-align: center;
    color: #666;
}

.img{
    width: 280px;
}